label {
  padding: 10px;
}

.error {
  font-weight: bold;
  color: red;
}

body {
  margin: 10px;;
}

input {
  margin: 10px;
}

a {
  margin: 10px;
}

table {
  width: 80%;
}

th, td {
  border: 1px solid darkgray;
  padding: 5px;
}

tr:hover {background-color: lightgreen;}